<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 top-bar" style="display: flex; align-items: center;">
      <div class="logo" style="margin-right: auto;">
        <img src="assets/images/speculations.png" alt="Logo" width="300">
      </div>
      <div class="card-notif mr-1 m-lg-3" style="margin-right: 10px;width: 50px; background-color: #2384ef; border-color: #2384ef;">
        <a href="#" class="notification" style="margin-top: 12%; margin-left:9px ;text-decoration: none; font-size: 10px; text-align: center; color: white;">
          <i class='bx bxs-bell'></i> 12
        </a>
      </div>
      <div class="language-box mr-1 m-lg-3" style="margin-right: 10px;">
        <img src="assets/images/france.png" style="width: 35px; height: 30px">
        <div class="dropdown-content">
          <img src="assets/images/united-states.png" style="width: 30px; height: 25px">
        </div>
      </div>
      <div class="user-box d-flex m-lg-4" style="margin-right: 10px; align-items: center;position: relative;">
        <div class="user-img-box"></div>
        <div class="user-details">
          <div class="user-name">{{userEmail}}</div>
          <div class="chevron-icon"><i class="bx bx-chevron-down"></i></div>
        </div>
        <div class="dropdown-content">
          <a href="#">Profil</a>
          <a href="#">Paramètres</a>
          <a (click)="logout()">Déconnexion</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px;">
      <div class="col-md-2" style="margin-right: -15px; color: #a6a2a2">
        Tableau de bord > Administration
      </div>
      <div class="col-md-2">
        <a class="btn btn-previous" routerLink="/entrepot/list" id="prevButton" *ngIf="!isCreateMode" (click)="toggleMode()">
          <i class="bx bx-chevron-left" style="color: #d27532"></i> Précédent
        </a>
        <a class="btn btn-orange" routerLink="/entrepot/add" id="createButton" *ngIf="isCreateMode" (click)="toggleMode()">
          Créer un entrepôt
        </a>
      </div>
    </div>
  </div>


<router-outlet></router-outlet>
</div>



