<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">

    </div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h4 class="login-heading">
                <img src="assets/images/ricva%20.png" style="margin-left: 18%">
              </h4>
              <h4 class="login-heading" style="margin-left: 35%">
                <strong>Spéculations</strong>
              </h4>
              <h4 class="login-heading" style="margin-left: 35%">
                <img src="assets/images/speculations.png" style="margin-left: -36%">
              </h4>
              <h4 class="login-heading mb-4" style="margin-left: 37%"><strong>Inscription</strong></h4>
              <form>
                <label for="email">Email ou Téléphone</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">

                <label for="password">Mot de passe</label>
                <div class="input-group">
                  <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" name="password" [(ngModel)]="password1">
                  <div class="input-group-append">
                    <span class="input-group-text" style="height: 40px" (click)="toggleShowPassword()">
                      <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                  </div>
                </div>
                <br>
                <div class="d-grid">
                  <button class="btn btn-login fw-bold mb-2" type="submit" (click)="register()">S'inscrire</button>
                  <div class="text-center">Déjà un compte? <a class="switch" routerLink="/login" >Se connecter</a></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
